<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
  <link rel="stylesheet" href="/css/Customizable-Background--Overlay.css">
  <link rel="stylesheet" href="/css/Data-Table-styles.css">
  <link rel="stylesheet" href="/css/Data-Table.css">
  <link rel="stylesheet" href="/css/Footer-Dark-icons.css">
  <link rel="stylesheet" href="/css/Login-Form-Basic-icons.css">
  <link rel="stylesheet" href="/css/Soft-UI-Aside-Navbar.css">
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="/css/buttons.css">
  <link rel="stylesheet" href="/css/dropdown.css">
  <link rel="stylesheet" href="/css/input.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.js"></script>
  <link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
</head>

<body>
  <%- include("../includes/navbar.ejs") %>
  <div class="container" id="app">
    <br/>
    <div class="row">
    <h5>Find authors per category and Teachers that loaned books from this category</h5>
    <pre>

    </pre>
    </div>
    <div class="row">
    <br>
    <div class="form-inline">
      <form @submit.prevent="search('category')">
        <select class="input" v-model="searchTerm.category" @change="search('category')">
          <option selected disabled>Category</option>
          <% categories.forEach(category => { %>
          <option value="<%= category.name %>"><%= category.name %></option>
          <% }) %>
        </select>
      </form>
      </div>
      <div class="row">
        <div class="col">
          <table id="authors" class="table table-striped ">
            <thead>
              <tr>
                <th>Author</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="author in category_authors">
                <td>{{ author.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table id="teachers" class="table table-striped ">
            <thead>
              <tr>
                <th>Teacher</th>
                <th>Loans</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="teacher in category_teachers">
                <td>{{ teacher.name }}</td>
                <td>{{ teacher.loans }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="row">
      <pre>


      </pre>
    <h5>Top young teachers</h5>
    </div>
    <div class="row">
    <br>
      <div class="row">
        <div class="col">
          <table id="young-teachers" class="table table-striped ">
            <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Loans</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="teacher in young_teachers">
                <td>{{ teacher.name }}</td>
                <td>{{ teacher.age }}</td>
                <td>{{ teacher.books_count }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <pre>


      </pre>
    <h5>No Loans Authors</h5>
    </div>
    <div class="row">
    <br>
      <div class="row">
        <div class="col">
          <table id="no-loans" class="table table-striped ">
            <thead>
              <tr>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="author in no_loans_authors">
                <td>{{ author.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <pre>


      </pre>
    <h5>Managers with equal loans this year</h5>
    </div>
    <div class="row">
    <br>
      <div class="row">
        <div class="col">
          <table id="equal-loans" class="table table-striped ">
            <thead>
              <tr>
                <th>Manager 1</th>
                <th>Manager 2</th>
                <th>Total Loans</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="manager in equal_loans">
                <td>{{ manager.manager1 }}</td>
                <td>{{ manager.manager2 }}</td>
                <td>{{ manager.loans }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <pre>


      </pre>
    <h5>Category Pairs</h5>
    </div>
    <div class="row">
    <br>
      <div class="row">
        <div class="col">
          <table id="category-pairs" class="table table-striped ">
            <thead>
              <tr>
                <th>Category 1</th>
                <th>Category 2</th>
                <th>Loans</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="pair in category_pairs">
                <td>{{ pair.category1 }}</td>
                <td>{{ pair.category2 }}</td>
                <td>{{ pair.loan_count }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <pre>


      </pre>
    <h5>Authors with at least 5 books less than top author</h5>
    </div>
    <div class="row">
    <br>
      <div class="row">
        <div class="col">
          <table id="five-books-less" class="table table-striped ">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="author in five_books_less">
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
    <script>
      const app = Vue.createApp({
        data() {
          return {
          searchTerm: {
            category: "Category",
          },
          // 3.1.2
          category_authors: null,
          category_teachers: null,
          // 3.1.3
          young_teachers: null,
          // 3.1.4
          no_loans_authors: null,
          // 3.1.5
          equal_loans: null,
          // 3.1.6
          category_pairs: null,
          // 3.1.7
          five_books_less: null,
          }
        },
        methods: {
          search() {
            axios.get('/admin/query/category/authors?category=' + this.searchTerm.category)
              .then(response => {
                this.category_authors = response.data;
              })
              .catch(error => {
                console.log(error)
              });
            axios.get('/admin/query/category/teacher-loans?category=' + this.searchTerm.category)
              .then(response => {
                this.category_teachers = response.data;
              })
              .catch(error => {
                console.log(error)
              });
            }

        },
        mounted() {
          $('#authors').DataTable({
            paging: false,
            searching: false,
            info: false,
          });
          $('#teachers').DataTable({
            paging: false,
            searching: false,
            info: false,
          });

          axios.get('/admin/query/authors/no-loans')
              .then(response => {
                this.no_loans_authors = response.data;
              })
              .catch(error => {
                console.log(error)
              });
          axios.get('/admin/query/young-teachers-top')
              .then(response => {
                this.young_teachers = response.data;
              })
              .catch(error => {
                console.log(error)
              });
          axios.get('/admin/query/category/top-pairs')
              .then(response => {
                this.category_pairs = response.data;
              })
              .catch(error => {
                console.log(error)
              });
          axios.get('/admin/query/authors/five-books-less')
              .then(response => {
                this.five_books_less = response.data;
              })
              .catch(error => {
                console.log(error)
              });
          axios.get('/admin/query/managers/equal-loans')
              .then(response => {
                this.equal_loans = response.data;
              })
              .catch(error => {
                console.log(error)
              });
        },
        beforeUpdate() {
          $('#authors').DataTable().destroy();
          $('#teachers').DataTable().destroy();
          $('#young-teachers').DataTable().destroy();
          $('#no-loans').DataTable().destroy();
          $('#category-pairs').DataTable().destroy();
          $('#five-books-less').DataTable().destroy();
          $('#equal-loans').DataTable().destroy();
        },
        updated() {
          $('#authors').DataTable({
            paging: false,
            searching: false,
            info: false,
          });
          $('#teachers').DataTable({
            paging: false,
            searching: false,
            info: false,
          });
          $('#young-teachers').DataTable({
            paging: false,
            searching: false,
            info: false,
            autowidth: true,
          });
          $('#no-loans').DataTable({
            searching: false,
            info: false,
            lengthChange: false,
          });
          $('#category-pairs').DataTable({
            paging: false,
            searching: false,
            info: false,
          });
          $('#five-books-less').DataTable({
            searching: false,
            info: false,
            lengthChange: false,
          });
          $('#equal-loans').DataTable({
            paging: false,
            searching: false,
            info: false
          });
        }
      });
      app.mount('#app')
    </script>
</body>

</html>