<div v-bind:class="editBookPanel">
    <div class="dialog">
      <div class="main-body">
        <button class="btn-close" type="button" aria-label="Close" @click="closeDialog('edit')" style="margin-bottom: 7px;"></button>
        <br>
        <nav class="main-breadcrumb" aria-label="breadcrumb"></nav>
        <div class="row d-flex">
          <div class="col-md mb-3">
                <div class="row">
                  <div class="col-sm-4">
                    <h6>Title</h6>
                  </div>
                  <div class="col-sm-3"><input type="text" v-model="title" /></div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-4">
                    <h6>Authors</h6>
                  </div>
                  <div class="col-sm-3"><input type="text" v-model="authors"/></div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-4">
                    <h6>Publisher</h6>
                  </div>
                  <div class="col-sm-3"><input type="text" v-model="publisher"/></div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-4">
                    <h6>ISBN</h6>
                  </div>
                  <div class="col-sm-3"><input type="text" v-model="isbn"/></div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-4">
                    <h6>Pages</h6>
                  </div>
                  <div class="col-sm-3"><input type="text" v-model="pages"/></div>
                </div>
                <hr />
  
                <div class="row">
                  <div class="col-sm-4">
                    <h6>Cover</h6>
                  </div>
                  <div class="col-sm-3"><input type="file" @change="addPicture" /></div>
                </div>
              <div class="row">
                <div class="col-sm-12">
                  <hr /><a class="btn btn-primary" role="submit" @click="editBook(book.id)">Submit</a>
                </div>
              </div>
          </div>
          <div class="col-md mb-3">
              <div class="row">
                  <div class="col-sm-4">
                    <h6>Quantity</h6>
                  </div>
                  <div class="col-sm-3"><input type="number" v-model="quantity"/></div>
                </div>
                <hr/>
                <div class="row">
                  <div class="col-sm-4">
                    <h6>Description</h6>
                  </div>
                  <div class="col-sm-3"><input type="text" v-model="description"/></div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-4">
                    <h6>Category</h6>
                  </div>
                  <div class="col-sm-3"><input type="text" v-model="category"/></div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-4">
                    <h6>Keywords</h6>
                  </div>
                  <div class="col-sm-3"><input type="text" v-model="keywords"/></div>
                </div>
                <hr/>
                <div class="row">
                  <div class="col-sm-4">
                    <h6>Language</h6>
                  </div>
                  <div class="col-sm-3"><input type="text" v-model="language"/></div>
                </div>
                <hr/>
          </div>
          <div class="row">
            <p>
              {{ message }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>