<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Customizable-Background--Overlay.css">
    <link rel="stylesheet" href="/css/Footer-Dark-icons.css">
    <link rel="stylesheet" href="/css/Login-Form-Basic-icons.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/buttons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <section class="py-4 py-xl-5" style="padding-bottom: 15px;">
        <div style="background-image: url(&quot;/img/books.jpg&quot;);height: 1151px;background-position: center;background-size: cover;background-repeat: no-repeat;margin-top: -48px;padding-bottom: 0px;">
            <div class="d-flex justify-content-center align-items-center" style="height: inherit;min-height: initial;width: 100%;position: absolute;left: 0;background: rgba(62,50,18,0.53);padding-bottom: 0px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 style="text-align: center;color: var(--bs-white);font-size: 36.44px;font-weight: bold;">Log in</h2>
                        </div>
                        <div class="col-md-12 col-xl-4 offset-xl-4">
                            <div class="card mb-5" style="--bs-card-bg: rgba(255, 255, 255, 0.16);">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
                                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                                        </svg></div>
                                    <div id="app">
                                    <form class="text-center" @submit.prevent="submitForm">
                                        <div class="mb-3"><input class="form-control" type="text" v-model="formData.username" placeholder="Username"></div>
                                        <div class="mb-3"><input class="form-control" type="password" v-model="formData.password" placeholder="Password"></div>
                                        <p style="color: var(--bs-red)">{{ error }}</p>
                                        <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Login</button></div>
                                        <button class="btn btn-danger" type="button" style="margin-right: 15px;">Forgot Password</button>
                                        <button class="btn btn-secondary" type="button" @click="signup">Sign Up</button>
                                    </form>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="text-center py-4">
            <div class="container">
                <div class="row row-cols-1 row-cols-lg-3">
                    <div class="col">
                        <p class="text-muted my-2">Databases Project: Team 92</p>
                    </div>
                    <div class="col"></div>
                    <div class="col">
                        <ul class="list-inline my-2">
                            <li class="list-inline-item"><a class="link-secondary" href="#">Privacy Policy</a></li>
                            <li class="list-inline-item"><a class="link-secondary" href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const app = Vue.createApp({
          data() {
            return {
              showForm: false,
              formData: {
                username: '',
                password: ''
              },
              error: '',
            };
          },
          methods: {
            submitForm() {
              // Handle form submission logic here
                const params = new URLSearchParams();
                params.append('username', this.formData.username);
                params.append('password', this.formData.password);
                axios.post('/login', params)
                .then(response => {
                    window.location.reload();
                })
                .catch(error => {
                  // Handle error
                  this.error = error.response.data;
                });
            },
            signup() {
                window.location.href = '/register';
            }
          }
        });
    
        app.mount('#app');
      </script>
</body>

</html>